<p>"I am a useless piece of code...."</p>"
<hr/>
<p><%= @birth_date_number %></p>
<p><%= "m" %></p>
<br>
<h4><%= "Based on your birthday: " %><br>
  <%="Your numerology number is " + @birth_date_number.to_s %></h4>

  <div class="well">
    <p><%= @message %></p>
  </div>
